
:root{
    --primary-color:black;
    --navbar-text-color:orange
    ;
    --navbar-link:orange;

}

.nav-bar{
    background-color:var(--primary-color) ;
    color:var(--navbar-text-color);
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
a{
    background:transparent;
    background-color: transparent;
    display: flex;
}
.nav-bar .nav-title{
    font-weight:bold;
    font-size:1.5rem;
    text-align: center;
}

.nav-bar .nav-links{
text-align: center;
}

.nav-bar .link{
    color:var(--navbar-link);
}

.nav-bar .link-active{
    font-weight: bold;
}


.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
    font-size: large;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 1rem;;
}

