@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root{
    --primary-color:#821D30;
    --lengend-background-color:#FAF7F4;
    --navbar-text-link-color:#FAF7F4;
    --main-container-background-color:#F6CBB7;
    --quiz-input-checked-color:#821D30;
    --button-background-color:#821D30;
    --button-hover-color:#F6CBB7;
    --button-textcolor:#FAF7F4;

}
body{
    font-family: 'Cinzel', serif;
    background-color:var(--main-container-background-color);

}



.main-container h3{
    text-align: center;
}
.quiz-main-container h3{
    text-align: center;
}
.btn{
text-transform: uppercase;
border: solid 1px transparent;
    border-radius: 4px;
    font-family: 'Libre Baskerville', serif;
    margin: 1px 5px;
    padding: 0.5em 1em;
    background-color: var(--button-background-color);
}
#submitQuiz{
    margin-left:45rem;
}
.nav-bar{
    display:grid;
    background-color:var(--primary-color) ;
    color:var(--navbar-text-link-color);
    padding:0rem 2rem 0.5rem 1rem;
     
    margin:0px;
}
.nav-bar a{
    background:transparent;
    background-color: transparent;
    display: inline;
    color: var(--navbar-text-link-color);
    text-decoration: none;
    padding: 0rem 1rem 0rem 1rem ;
    margin:0px;
}

.nav-bar a:hover{
    background-color: #CB857C;
    
}

.nav-bar a:active{
    background-color: #CB857C;
}
.nav-bar .nav-title{
    font-weight:bold;
    font-size:1.5rem;
    text-align: center;
    padding:1rem ;
  
}

.nav-bar .nav-links{
text-align: center;

}

.nav-bar .link{
    color:var(--navbar-link);
}

.nav-bar .link-active{
    font-weight: bold;
}


.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display: inline;
    padding: 1rem 1rem;
    font-size: large;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;;
}


/* quiz content design*/
div:first-of-type {
    display: inline;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  label {
    margin-right: 15px;
    line-height: 32px;
  }

  
  .quiz-main-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid rgb(32, 5, 107);
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
    
  }

  input:checked {
    border: 6px solid var(--quiz-input-checked-color);
  }

  
legend {
  color: var(--primary-color);
  background-color: var(--lengend-background-color);
  padding: 1rem 1rem;
  border-radius:1rem;
  font-size: 15px;
  font-weight: 1rem;
  align-items: center;

 
}
button{
    color:var(--button-textcolor);
}

button:hover,
button:focus {
  color:var(--button-hover-color);
}
button:active {
    background-color: var(--button-background-color);
    color:var(--button-textcolor);
    outline: 1px solid rgb(0, 0, 0);
  }

  /*quiz-response*/
  #quiz-response{
      color:var(--navbar-text-link-color);
      text-align: center;
      float:center;
      background-color:var(--primary-color) ;
      padding:1rem 1rem;
  }

  /*area of triangle*/

  #area-calc-grid {
      display:flex;
      
      justify-content: space-between;
      border: 3px solid var(--primary-color);
      

  }
  #calc-method-1, #calc-method-2, #calc-method-3{
      padding:1rem 1rem;
     
  }
  /*Calculate Hypotenuse*/
  .main-container #calc-hypo{
    float:center;
  }
  #calc-hypo,#calc-angle{
    display:block;
    
    padding: 1rem 1rem;
    justify-content: space-between;
    border: 3px solid var(--primary-color);
  }

  /*angle calculation included above*/
