@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
:root{
    --primary-color:black;
    --navbar-text-color:orange
    ;
    --navbar-link:orange;

}
body{
    font-family: 'Cinzel', serif;
}
#main-container{
 display:inline;
}
#main-container h3{
    text-align: center;
}
.btn{
text-transform: uppercase;
border: solid 1px transparent;
    border-radius: 4px;
    font-family: 'Libre Baskerville', serif;
    margin: 1px 5px;
    padding: 0.5em 1em;
}
.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;

}
.wrapper div{
    display:grid;
    text-transform: uppercase;
    background-color: var(--navbar-text-color);  
    padding:0.5rem 0.5rem;
}

 



.nav-bar{
    display:grid;
    background-color:var(--primary-color) ;
    color:var(--navbar-text-color);
    padding:1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
  
   
}
a{
    background:transparent;
    background-color: transparent;
    display: flex;
}
.nav-bar .nav-title{
    font-weight:bold;
    font-size:1.5rem;
    text-align: center;
    padding:0.5rem ;
  
}

.nav-bar .nav-links{
text-align: center;
padding:1rem 1rem;
}

.nav-bar .link{
    color:var(--navbar-link);
}

.nav-bar .link-active{
    font-weight: bold;
}


.list-non-bullet{
    list-style:none;
}

.list-item-inline{
    display: inline;
    padding: 1rem 1rem;
    font-size: large;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;;
}


/* quiz content design*/
div:first-of-type {
    display: inline;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  label {
    margin-right: 15px;
    line-height: 32px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid rgb(32, 5, 107);
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }

  input:checked {
    border: 6px solid rgb(136, 8, 161);
  }

  button,
legend {
  color: white;
  background-color: rgb(196, 21, 187);
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}

button:hover,
button:focus {
  color: rgb(121, 14, 163);
}
button:active {
    background-color: white;
    color: rgb(124, 15, 115);
    outline: 1px solid rgb(0, 0, 0);
  }